<form>
  <table>
    <tr>
      <td><label for="client-name">Client Name</label></td>
      <td><input type="text" name="client-name" id="clientName"></td>
    </tr>
    <tr>
      <td><label for="mobile-number">Mobile</label></td>
      <td><input type="text" name="mobile-number" id="mobileNumber"></td>
    </tr>
    <tr>
      <td><label for="email">Email</label></td>
      <td><input type="text" name="email" id="email"></td>
    </tr>
    <tr>
      <td><label for="latitude">Latitude</label></td>
      <td><input type="text" name="latitude" id="latitude"></td>
    </tr>
    <tr>
      <td><label for="longitude">Longitude</label></td>
      <td><input type="text" name="longitude" id="longitude"></td>
    </tr>
    <tr>
      <td><label for="address">Address</label></td>
      <td>
        <textarea name="address" id="address" cols="30" rows="10"></textarea>
      </td>
    </tr>
    <tr>
      <td><label for="logo">Logo</label></td>
      <td><input type="text" name="logo" id="logo"></td>
    </tr>
    <tr>
      <td><label for="branding">Branding</label></td>
      <td><input type="text" name="branding" id="branding"></td>
    </tr>
    <tr>
      <td colspan="2">
        <div class="actions">
          <button class="pk-button pk-button-p" type="submit">Login</button>
          <button class="pk-button pk-button-d" type="reset">Reset</button>
        </div>
      </td>
    </tr>
  </table>
</form>